.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 32px;
  color: #fff;
  background: #001529;
  line-height: 64px;
}

.ft {
  display: flex;
  align-items: center;
  margin-right: 16px;
  font-size: 18px;
}
