.global__common-btn {
  min-width: 88px;
  height: 34px !important;
  border: none !important;
  border-radius: 4px !important;
  color: rgba(255, 255, 255, 1) !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 22px !important;

  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    border: 1px solid rgba(237, 241, 245, 1) !important;
    color: rgba(214, 214, 214, 1) !important;
    background: rgba(252, 252, 252, 1) !important;
  }
}

:global {
  .global__primary-btn {
    background: rgba(47, 136, 255, 1) !important;

    &:hover {
      background: rgba(87, 165, 255, 1) !important;
    }

    &:focus {
      background: rgba(28, 104, 217, 1) !important;
    }
  }

  .global__default-btn {
    border: 1px solid rgba(218, 223, 227, 1) !important;
    color: #333 !important;
    background: rgba(248, 249, 250, 1) !important;

    &:hover {
      border: 1px solid rgba(47, 136, 255, 1) !important;
      color: #2f88ff !important;
      background: rgba(248, 249, 250, 1) !important;
    }

    &:focus {
      border: 1px solid rgba(28, 104, 217, 1) !important;
      color: #1c68d9 !important;
      background: rgba(248, 249, 250, 1) !important;
    }
  }
}
