:global {
  .global__scroll {
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background: rgba(231, 231, 231, 1);
    }
  }
}
