@state-brand: #519dff;
@state-primary: #519dff;

@header-height: 64px;
@header-bggcolor: #0a1e39;

@state-danger: #f04134;
@state-success: #00a854;
@layout-color: #f7f7f7;
@card-border-color: #e5e5e5;
@card-background-color: #fdfdfd;

@sidebar-bgcolor: #f3f3f3;
@sidebar-selected-bgcolor: #eaeaea;

@custom-header-height: 64px;
@custom-header-background: #fff;
@custom-header-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
@custom-sider-background: #fff;

@custom-content-margin-top: 64px;
@custom-content-padding: 0 18px;

@sidebar-width: 80px;
@sidebar-unfold-width: 236px;
@header-height: 60px;
@max-content-width: 1040px;

@global-margin: 24px;
@global-padding: 24px;
