.slider {
  position: relative;
  height: 100vh;
  background: #fff;
  transition: max-width 200ms ease-in-out;

  :global {
    .byted-menu-uncollapse {
      width: 100%;
      overflow: hidden;
    }
  }
}

.fold {
  position: absolute;
  top: 50%;
  right: -18px;
  margin-top: -18px;
  font-size: 12px;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  z-index: 1;

  :global {
    .toggle {
      position: relative;
      right: 0;
      width: 18px;
      height: 40px;
      overflow: hidden;
      -webkit-transition: right 0.2s ease;
      transition: right 0.2s ease;
      cursor: pointer;
      z-index: 2;

      .circle {
        position: absolute;
        top: 2px;
        right: 2px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 36px;
        height: 36px;
        border-radius: 0 50% 50% 0;
        background-color: #fff;
        box-shadow: 0 0 8px 0 rgba(151, 171, 185, 0.24);
        font-size: 16px;
      }
    }
  }
}
